*.a filter=lfs diff=lfs merge=lfs -text
Liteon-ngKore_E/cmake_targets/ran_build/build/build.ninja filter=lfs diff=lfs merge=lfs -text
Liteon-ngKore_E/cmake_targets/ran_build/build/nr-softmodem filter=lfs diff=lfs merge=lfs -text
